.card {
  width: 100vw;
  max-width: 20vw;
  font-size: 12px;
  display: inline-block;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 82%;
  border-radius: 1.4rem;
  margin-bottom: 1rem;
}

/* ADD */
.card--title {
  font-size: 1.4vw;
  font-weight: 500;
  max-width: 90vw;
  text-align: left;
  margin: auto;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 1rem;
}

/* ADD */
.card--price {
  font-size: 1.4vw;
}

.card--badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  font-weight: bold;
  font-size: 2.5vw;
}

.card--badges {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  font-weight: bold;
  font-size: 2.1vw;
}

@media screen and (max-width: 810px) {
  .card--title {
    font-size: 1.1rem;
  }
  .card--price {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 650px) {
  .card--title {
    font-size: 0.65rem;
  }
  .card--price {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 620px) {
  .card--title {
    font-size: 0.75rem;
  }
  .card--price {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .card--title {
    font-size: 0.75rem;
  }
  .card--price {
    font-size: 0.75rem;
  }
}
